.all-cards {
	display: flex;
	flex-direction: row;
}

.about-btn {
	/*background-color: black;*/
	/*font-size: 1.25rem;*/
	padding: 0;
	/*padding-top: 1px; */
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgb(237, 241, 243);
    /*line-height: 12px;*/
    width: 40px;
    font-size: 8pt;
    margin: 4px;
    position:absolute;
    top:0;
    right:0;
 
} 