.all-cards {
	display: flex;
	flex-direction: row;
}

.about-btn {
	/*background-color: black;*/
	/*font-size: 1.25rem;*/
	padding: 0;
	/*padding-top: 1px; */
	font-family: 'Roboto', sans-serif;
	font-family: 'Shadows Into Light Two', cursive;
	color: black;
    /*line-height: 12px;*/
    width: 40px;
    font-size: 8pt;
    margin: 4px;
    position:absolute;
    top:0px;
    right:0px;
 
} 