/*@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shadows+Into+Light+Two&display=swap');

.sort-btn{
/*	margin-top: 50vh;
	font-weight: 50px;
	font-size: 500px;*/
}

.sort-btn h3{
	/*font-family: 'Amatic SC', cursive;*/
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Shadows Into Light Two', cursive;
	font-weight: bolder;
	/*color: white;*/
}

.path-btn h3{
	/*font-family: 'Amatic SC', cursive;*/
	font-family: 'Roboto', sans-serif;
	font-family: 'Shadows Into Light Two', cursive;
	font-weight: bolder;
	/*color: white;*/
}

.path-btn{
/*	font-size: 500px;
	margin-top: 50vh;*/
}
