/*@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shadows+Into+Light+Two&display=swap');

.sort-btn{
/*	margin-top: 50vh;
	font-weight: 50px;
	font-size: 500px;*/
}

.route-to {
	padding-bottom: 100px;
}

.sort-btn h3{
	/*font-family: 'Amatic SC', cursive;*/
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Shadows Into Light Two', cursive;
	font-weight: bolder;
	/*color: white;*/
}

.path-btn h3{
	/*font-family: 'Amatic SC', cursive;*/
	font-family: 'Roboto', sans-serif;
	font-family: 'Shadows Into Light Two', cursive;
	font-weight: bolder;
	/*color: white;*/
}

.path-btn{
/*	font-size: 500px;
	margin-top: 50vh;*/
}

.fixed-btn {
	/*background-color: black;*/
	font-size: 1.25rem;
	font-family: 'Roboto', sans-serif;
	font-family: 'Shadows Into Light Two', cursive;
	font-weight: bolder;
	color: black;
	padding-top: 20px;
    line-height: 12px;
    width: 100px;
    /*font-size: 8pt;*/
    margin-top: 0px;
    margin-right: 0px;
    position:absolute;
    top:0;
    right:0;
 
} 