.navbar > .navbar-brand:hover,
.navbar > .navbar-brand:focus {
  background-color:transparent;
}


.navbar-brand {
  margin-right: 55px;
}

.btn {
  margin-right: 35px;
  padding: 5px 5px;
}


.dropdown-menu {
    margin-right: 35px;
    color: black;
    text-align: center;
}

.dropdown-item {
  color: black;
  background: black;
}

h1 {
    margin-right: 20px;
}

button {
    background-color: lightcoral;
    border: none;
    color: white;
    padding: 9px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    transition-duration: 0.4s;
}
    button:hover {
        background-color: dodgerblue; /* Green */
        color: white;
    }
.button_dropdown {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 12px;
    margin-left: 10px;
    transition-duration: 0.4s;
}
.navbar .btn-group .dropdown-menu :hover {
    color: #000 !important;
}

.navbar .btn-group .dropdown-menu :active {
    color: #fff !important;
}