body {
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #255cf1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #070707;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.particles {
  background: #1569d8e1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #0d0d0e);  /* Chrome 10-25, Safari 5.1-6 */  
  background: linear-gradient(to right, #030303, #020202); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

}


@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.home-fonts {
  font-size: calc(20px + 10vh);
  line-height: calc(20px + 10vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #0f0f0f, 0 0 15px #f1f0ed, 0 0 20px #0a0a0a, 0 0 40px #040405, 0 0 60px #eee7e7, 0 0 10px #181716, 0 0 98px #f5f1f1;
    color: #070706;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 100px;
  text-align: center;
  animation: blink 6s infinite;
  -webkit-animation: blink 6s infinite;
}



@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #0e0f11, 0 0 15px #edf0f5, 0 0 20px #0b0c0c, 0 0 40px #080808, 0 0 60px #050505, 0 0 10px #f0f2f8, 0 0 98px #0b0c0c;
    color: #f1f2f8;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: rgb(240, 243, 247);
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #0d7feb, 0 0 15px #030303, 0 0 20px #0d7feb, 0 0 40px #0d7feb, 0 0 60px #f7f6f6, 0 0 10px #0d7feb, 0 0 98px #1b1515;
    color: #fcf9f9;
  }
}

